<div class="container-md gap-3">
  <h2>Ingreso de datos</h2>
  {{! se quita el action al formulario para ejecutar desde el cliente la carga action="/api/productos" method="POST" }}
  <form class="row g-3" id="formProducts">
    <div class="col-md-4">
      <label for="title" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        placeholder="Macbook 2trillones"
        name="title"
        required
      />
    </div>
    <div class="col-md-4">
      <label for="price" class="form-label">Precio</label>
      <input
        type="number"
        class="form-control"
        placeholder="125000"
        name="price"
        required
      />
    </div>
    <div class="col-md-4">
      <label for="thumbnail" class="form-label">Imagen</label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2"><img
            src="/image-logo.png"
            alt="work in progress logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          /></span>
        <input
          type="url"
          class="form-control"
          placeholder="www...."
          name="thumbnail"
          required
        />
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary">Cargar</button>
    </div>
  </form>
</div>