<table class="table table-hover">
  <thead>
    <tr class="table-dark">
      <th scope="col">Nombre</th>
      <th scope="col">Mensaje</th>
    </tr>
  </thead>
  <tbody class="table-success table-striped">
    {{#each messages}}
      <tr>
        <th scope="row">{{name}}</th>
        <td>{{message}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>