extends layout/main
 
block footer

        <footer>
                <p class="text-center text-light bg-dark position-fixed bottom-0 w-100" style>@Copyright 2022 Work in Progress</p>
        </footer>