extends archivos 

block imageForm

    <div class="container-md">
            <h2>Cargar Imagen de Producto</h2>
            <form action="/api/files/uploadSingle" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Seleccionar Imagen</label>
                    <input class="form-control" type="file" id="formFile" name="myFile">
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Cargar</button>
                </div>
            </form>
            <form action="/api/files/uploadMultiple" method="POST">
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Seleccionar Imagenes</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="myFiles" multiple>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Cargar</button>
                </div>
            </form>
        </div>