<div class="container-md">
        <h1>Ingreso de datos</h1>
        <form class="row g-3" action="/api/productos" method="POST">
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Macbook 2trillones" name="title" required>
            </div>
            <div class="col-md-4">
                <label for="validationDefault02" class="form-label">Precio</label>
                <input type="number" class="form-control" id="validationDefault02" placeholder="125000" name="price" required>
            </div>
            <div class="col-md-4">
                <label for="validationDefaultUsername" class="form-label">Imagen</label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2"><img src="/image-logo.png" alt="work in progress logo" width="30" height="24" class="d-inline-block align-text-top"></span>
                    <input type="text" class="form-control" id="validationDefault03"  aria-describedby="inputGroupPrepend2" name="thumbnail" required>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Cargar</button>
            </div>
        </form>
    </div>